@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ==================================
            Typography
===================================*/
h1, h2 {
    font-size: 2.3rem;
}

h1, h2, .btn,
.navItems a,
.fylo-link, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.navItems a {
    font-size: .9rem;
}

h3 {
    font-size: 1.9rem;
}

.navItems a {
    color:  hsl(238, 22%, 44%);
}

h1, h2, p {
    color: hsl(243, 87%, 12%);
}

.card-info, .name {
    font-size: .8rem;
}

.work-role {
    font-size: .7rem;
}

.contact {
    background-color: hsl(243, 87%, 12%);
}

/* ==================================
              Layout
===================================*/
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 15%;
}

.navItems li {
    margin-left: 3em;
}

nav {
    margin-top: 3.5em;
}

nav, .content,
.card-info, .bio,
.signup {
    margin-left: auto;
    margin-right: auto;
}

nav, .content {
    width: 90%;
}

nav, .navItems,
.content,
.card, .bio,
.signup, .contact,
.footNav, .icons {
    display: flex;
}

nav, .navItems, .bio,
.signup, .contact,
.icons {
    align-items: center;
}

nav, .content,
.card, .signup, .footNav {
    justify-content: space-between;
}

.top {
    margin-top: 6em;
    margin-bottom: 230px;
}

.btn {
    background-color: hsl(224, 93%, 58%);
    padding: .95em;
    border: none;
    color: white;
    border-radius: 3px;
    width: 35%;
    margin-left: .9em;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 75%);
}

.mail {
    padding: .95em;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 75%);
    width: 55%;
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 75%);
}

.col-img,
.col-content,
.signup-info,
.form {
    width: 45%;
}

.col-content {
    align-self: center;
}

.col-img img {
    width: 100%;
}

.mid {
    margin-bottom: 7em;
}

.bg-container {
    position: relative;
    padding: 2em 0; 
    margin-top: 5em;
    background-color: #F8F8FE;
}

.bg-container::before {
    content: '';
    position: absolute;
    display: block;
    top: -100px;
    left: 0;
    height: 114px;
    width: 100%;
    background-image: url(images/bg-curve-desktop.svg);
    background-size: 100% 100%;
    background-position: center;
}

.mid-content {
    width: 55%;
}

.mid-img {
    width: 38%;
    align-self: center;
}

.mid-content p {
    width: 80%;
}

.fylo-link {
    border-bottom: 2px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
}

.arrow {
    vertical-align: middle;
}

.card {
    width: 50%;
    box-shadow: 5px 5px 5px 5px hsl(0, 0%, 75%);
    margin-top: 2em;
    padding: 1em;
    flex-direction: column;
}

.card-info, .bio {
    width: 90%;
}

.card-info p{
    text-align: center;
    width: 100%;
}

.bio p{
    margin: 0;
    width: 100%;
}

.bio {
    margin: .9em auto;
}

.avatar {
    border-radius: 50%;
    width: 15%;
    margin-right: .5em;
}

.signup {
    background-color: hsl(238, 22%, 44%);
    padding: 4em;
}

.signup-info p, h3,
.footNav a, .contact-info p {
    color: white;
}

.form input {
    display: block;
    width: 90%;
    margin-bottom: 1em;
    box-shadow: none;
}

.form .btn {
    margin: 0;
    box-shadow: none;
}

.contact {
    padding: 6em 4em;
}

.contact-info {
    width: 30%;
}

.footNav {
    width: 50%;
    align-items: baseline;
    margin-top: 3em;
}

.footNav li {
    padding-bottom: 1em;
}

.icons-img {
    border: 1px solid white;
    padding: .5em .5em .3em;
    border-radius: 50%;
    margin-left: 1em;
}


/* ==================================
            Media Query
===================================*/

@media (max-width: 600px) {
body {
    font-size: .9rem;
}

.content,
.signup, .contact,
.footNav {
    flex-direction: column;
}

.col-img, .col-content, 
.contact-info, .signup-info {
    width: 90%;
}

.mid p, .card,
.form,  .signup{
    width: 100%;
}

.top, .signup-info {
    text-align: center;
}

.col-content {
    order: 2;
}

.col-img, .mid-img {
    margin-bottom: 2em;
}

.btn, .mail, .form .btn,
.form .mail{
    display: block;
    width: 100%;
}

.mail {
    margin-bottom: 1em;
}

.btn {
    margin: 0;
}

nav {
    margin-top: 1em;
}

.navItems li {
    margin-left: 1em;
}

.logo {
    width: 25%;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

.contact {
    padding: 4em 2em;
    align-items: flex-start;
}

.list {
    padding-left: 0;
}

.icons {
   margin-left: 4.2em;
}
}

@media (min-width: 760px) and (max-width: 920px) {
    .form .btn {
        width: 55%;
    }

    .card {
        width: 60%;
    }
    
    .footNav {
        width: 65%;
    }
}